<% if @errors %>
  <% @errors.each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<form action="/signup" method="post">
  <input type="text" name="user[name]" value="<%= @user.name %>" placeholder="your name">
  <input type="email" name="user[email]" value="<%= @user.email %>" placeholder="your email">
  <input type="password" name="user[password]" value="" placeholder="your password">
  <input type="Submit" value="Submit">
</form>
